// Styling for the contact section
section#contact {
  a.btn-coop {
    padding: 0;
    border-radius: 50px;
    // border: 1px solid $gray-600;
    border: 0;
    // &:hover {
    //   box-shadow: 0 0 2px 2px $gray-600;
    // }
    img {
      width: 200px;
      height: auto;
      border-radius: 50px;
    }
  }
  color: $lightgrey-color;
  a {
    color: $altaccent-color;
  }
  font-size: 20px;
  background-color: $gray-900;
  background-image: url('../img/contact-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    /* Firefox 18- */
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    /* Firefox 19+ */
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}
